@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!DOCTYPE html>
  <html>
  <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="~/css/materialize/materialize.min.css" rel="stylesheet" media="screen,projection"/>
      <link href="~/css/custom.css" rel="stylesheet" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
      <header>
          @Html.Partial("main navigation")
      </header>
      @Html.Partial("breadcrumb")
      <main class="container">
          @RenderBody()
      </main>
      <footer class="page-footer blue darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/materialize/materialize.min.js"></script>
        <script src="~/Scripts/custom.js"></script>
  </body>
  </html>