@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}
<h1>
@Umbraco.Field("title")
    </h1>

@{
    var pageImage = Model.Content.GetPropertyValue<IPublishedContent>("image");
    if(pageImage != null){
        <img src="@pageImage.GetPropertyValue("umbracoFile")" />
    }
}

@Umbraco.Field("contentRTE")