@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}
<div clss="mdl-grid">
<h4>
@Umbraco.Field("title")
    </h4>

@{
    var pageImage = Model.Content.GetPropertyValue<IPublishedContent>("image");
    if(pageImage != null){
        <img src="@pageImage.GetPropertyValue("umbracoFile")" />
    }
}

@Umbraco.Field("contentRTE")
</div>