body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

 .breadcrumb a {
     display: inline;
 }

.index {
    display: inline-block;
    align-items: center;
    width: 2em;
}
 /* materialise override */
 i {
     vertical-align: top;
 }

 /* MDL Lite */
 .devsite-breadcrumb-nav {
        display: block;
        margin: -16px 0 16px;
    }
 .devsite-breadcrumb-list {
    margin-top: 16px
}
 .devsite-breadcrumb-item {
    display: inline-block;
    margin: 0
}

.mdl-grid {
    max-width:75em
}