body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

 .breadcrumb a {
     display: inline;
 }

.index {
    display: inline-block;
    align-items: center;
    width: 2em;
}
 /* materialise override */
