body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

 .breadcrumb a {
     display: inline;
 }

 /* materialise override */
.tabs .tab a {
    color: aliceblue;
    padding: 0 0.7em;
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: darkcyan;
}
.tabs .indicator {
    background-color: darkcyan;
}